
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2E7D32;
    padding: 20px 0;
    color: white;
}

header .logo h1 {
    margin-top: 30px;
    display: flex;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#hero {
    background-color: #81C784;
    padding: 60px 0;
    color: white;
    display: flex;
    align-items: center;
}

#hero .hero-text {
    flex: 1;
}

#hero .hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero .hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

#hero .button {
    background-color: #2E7D32;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#hero .button:hover {
    background-color: #1B5E20;
}

#hero .hero-image img {
    max-width: 100%;
    height: auto;
}

#features {
    padding: 60px 0;
    background-color: #ffffff;
    text-align: center;
}

#features h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #2E7D32;
}

.features-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.feature {
    background-color: #E8F5E9;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.feature h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #388E3C;
}

.feature p {
    font-size: 16px;
}


footer {
    background-color: #2E7D32;
    padding: 20px 0;
    color: white;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin-left: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}
